div {
 user-select: none;
}

#result {
 display: none;
}

body {
 background-image: url(../src/2682040.jpg);
 background-size: cover;
}

#main {
 display: block;
}

#country {
 font-size: 2rem;
 font-weight: bold;
 font-family: Georgia, 'Times New Roman', Times, serif;
 color: black;
 text-align: center;
 padding: 4px 20px;

}

.input {
 font-size: 1rem;
 font-weight: 600;
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 padding: 3px 12px
}

.info {
 font-weight: 600;
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 font-size: 1rem;
}

.btn-secondary {
 background-color: #2f4f4f;
}

.is-valid {
 border: 3px solid;
 border-color: rgb(40, 167, 69);
}

.is-invalid {
 border: 3px solid;
 border-color: rgb(220, 53, 69);
}